.footer {
  position: relative;
  margin-top: 9.0625rem;
  background-color: $vltgray;
  &::before {
    content: "";
    height: 20%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("/images/mobile/bg-pattern-footer-mobile.svg");
    background-repeat: no-repeat;
    z-index: 0;
    @include breakpoint-up(large) {
      height: 50%;
      width: 33.125rem;
      background-image: url("/images/desktop/bg-pattern-footer-desktop.svg");
    }
  }
  &__content {
    position: relative;
    padding-top: 5.5rem;
    padding-bottom: 4.125rem;
    text-align: center;
    z-index: 1;
    @include breakpoint-up(large) {
      padding-bottom: 0px;
    }
  }
  &__logo__and__socials {
    padding-bottom: 2.5rem;
    margin-bottom: 2.625rem;
    border-bottom: 1px solid $dkgrayishviolet;
    @include breakpoint-up(large) {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .footer__socials {
      margin-top: 2rem;
      @include breakpoint-up(large) {
        margin-top: 0;
      }
      a {
        svg path {
          transition: fill 300ms ease-in-out;
        }
        &:hover svg path {
          fill: $vdkviolet;
        }
        &:not(:last-child) {
          margin-right: 1rem;
        }
      }
    }
  }
  &__grid {
    @include breakpoint-up(large) {
      display: flex;
      flex-direction: row;
    }
  }
  &__item {
    margin-bottom: 1.5rem;
    @include breakpoint-up(large) {
      flex: 1;
      margin-bottom: 2.75rem;
      text-align: left;
    }
    h3 {
      margin-bottom: 2.625rem;
      font-size: 0.875rem;
      color: $dkgrayishviolet;
      text-transform: uppercase;
      letter-spacing: 2px;
      font-family: "Karla", sans-serif;
      font-weight: 700;
    }
    a {
      margin-bottom: 1.375rem;
      color: $vdkviolet;
      font-size: 0.875rem;
      text-transform: uppercase;
      font-weight: 700;
      letter-spacing: 2px;
      transition: text-decoration 300ms ease-in-out;
      &:hover {
        text-decoration: underline;
      }
    }
    &__links {
      display: flex;
      flex-direction: column;
      align-items: center;
      @include breakpoint-up(large) {
        align-items: start;
      }
    }
  }
  .attribution {
    padding-bottom: 2px;
    text-align: center;
    a {
      color: $grayishblue;
      transition: color 300ms ease-in-out;
      &:hover {
        color: $dkviolet;
      }
    }
  }
}
